<h1>Existing Lists</h1>
<table>
  <tr>
    <th>List Name</th>
    <th>Date Created</th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.name %></td>
    <td><%= list.created_at.strftime("%D") %></td>
    <td><%= link_to 'Add Tasks', new_task_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %>
