<h1>Create a New List</h1>

<%= form_for(@list) do |l| %>
  <div class="field">
    <%= l.label :name %><br />
    <%= l.text_field :name %>
  </div>

  <div class="actions">
    <%= l.submit %>
  </div>
<% end %>